<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./../includes/head.ejs'); %>

    <link rel="stylesheet" href="/css/forms.css" />
  </head>

  <body>
    <main class="main">
      <div class="main__container">
        <form 
          action="/auth/create-account"
          class="form form--small"
          method="POST"
        >
          <%- include('./../includes/title.ejs', { backLink: '/' }); %>

          <ul class="form__list">
            <li class="form__item">
              <label for="username" class="form__label form__label--thick">
                <span>Username <span class="form__required">*</span></span>
              </label>
              <input
                type="text"
                class="form__input"
                name="username"
                minlength="5"
                maxlength="30"
                required
                autofocus
              />
            </li>

            <li class="form__item">
              <label for="password" class="form__label form__label--thick">
                <span>Password <span class="form__required">*</span></span>
              </label>
              <input
                type="password"
                class="form__input"
                name="password"
                minlength="8"
                maxlength="50"
                required
              />
            </li>

            <li class="form__item">
              <label
                for="confirm-password"
                class="form__label form__label--thick"
              >
                <span>Confirm Password <span class="form__required">*</span></span>
              </label>
              <input
                type="password"
                class="form__input"
                name="confirm-password"
                minlength="8"
                maxlength="50"
                required
              />
            </li>
          </ul>
          
          <p class="error"></p>

          <%- include('./../includes/buttonRow.ejs', { cancelLink: '/',
          disabled: false }); %>
        </form>
      </div>
    </main>

    <script src="/js/loginValidation.js"></script>
  </body>
</html>
