<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Kharcha | Add Record</title>

    <link rel="stylesheet" href="/css/styles.css" />
    <link rel="stylesheet" href="/css/forms.css" />
  </head>

  <body>
    <main class="main">
      <div class="main__container">
        <form action="/records/add" class="form" method="POST">
          <h1 class="form__title">Add Record</h1>

          <ul class="form__list">
            <li class="form__item">
              <label for="id" class="form__label">
                <span>ID</span>
              </label>
              <input
                type="text"
                class="form__input"
                name="id"
                value="1"
                disabled
              />
            </li>

            <li class="form__item">
              <label for="date" class="form__label">
                <span>Date <span class="form__required">*</span></span>
              </label>
              <input type="date" class="form__input" name="date" required />
            </li>

            <li class="form__item">
              <label for="amount" class="form__label">
                <span>Amount <span class="form__required">*</span></span>
              </label>
              <span class="form__amount">Rs.</span>
              <input type="number" class="form__input" name="amount" required />
            </li>

            <li class="form__item">
              <div class="form__label">
                <span>Type <span class="form__required">*</span></span>
              </div>
              <div class="form__radio-container">
                <div class="form__radio">
                  <input
                    type="radio"
                    class="form__radio-input"
                    name="type"
                    value="debit"
                    required
                  />
                  <label for="type" class="form__radio-label">Debit</label>
                </div>
                <div class="form__radio">
                  <input
                    type="radio"
                    class="form__radio-input"
                    name="type"
                    value="credit"
                    required
                  />
                  <label for="type" class="form__radio-label">Credit </label>
                </div>
              </div>
            </li>

            <li class="form__item">
              <label for="tags" class="form__label">
                <span>Tags</span>
              </label>
              <input
                type="text"
                class="form__input"
                name="tags"
                placeholder="Comma separated tags list"
              />
            </li>

            <li class="form__item">
              <label for="description" class="form__label">
                <span>Description</span>
              </label>
              <textarea
                rows="3"
                wrap="hard"
                class="form__textarea"
                name="description"
                placeholder="Description"
              ></textarea>
            </li>
          </ul>

          <div class="form__button-container">
            <button type="submit" class="form__button">Add Record</button>
          </div>
        </form>
      </div>
    </main>
  </body>
</html>
