<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./../includes/head.ejs'); %>

    <link rel="stylesheet" href="/css/forms.css" />
    <link rel="stylesheet" href="/css/list.css" />
  </head>

  <body>
    <main class="main">
      <div class="main__container">
        <div class="form">
          <%- include('./../includes/title.ejs', { backLink: '/records' }); %>

          <ul class="form__list">
            <li class="form__item">
              <label for="id" class="form__label">
                <span>ID <span class="form__required">*</span></span>
              </label>
              <input
                type="number"
                class="form__input"
                form="edit-form"
                name="id"
                step="1"
                min="1"
                required
                autofocus
              />
            </li>
          </ul>

          <div class="divider"></div>

          <div class="block">
            <form
              id="edit-form"
              action="/records/edit"
              class="form form--width-100 record visibility-hidden"
              method="POST"
              autocomplete="off"
            >
              <ul class="form__list">
                <%- include('./../includes/recordForm.ejs', { newRecord: false
                }); %>
              </ul>
            </form>

            <div class="block__message">Enter ID</div>
          </div>

          <%- include('./../includes/buttonRow.ejs', { cancelLink: '/records',
          disabled: false }); %>
        </div>
      </div>
    </main>

    <script src="/js/form.js"></script>
  </body>
</html>
