<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./../includes/head.ejs') %>

    <link rel="stylesheet" href="/css/menu.css" />
  </head>

  <body>
    <main class="main">
      <div class="main__container">
        <div class="menu">
          <div class="title">
            <a href="/home" class="title__back"><</a>

            <h1 class="title__heading"><%= title %></h1>
          </div>

          <ul class="menu__list">
            <li class="menu__item">
              <a href="/records/add">
                <p class="menu__link">Add Record</p>
              </a>
            </li>
            <li class="menu__item">
              <a href="/records/list">
                <p class="menu__link">List Records</p>
              </a>
            </li>
            <li class="menu__item">
              <a href="/records/filter">
                <p class="menu__link">Filter Records</p>
              </a>
            </li>
            <li class="menu__item">
              <a href="/records/edit">
                <p class="menu__link">Edit Record</p>
              </a>
            </li>
            <li class="menu__item">
              <a href="/records/delete">
                <p class="menu__link">Delete Record</p>
              </a>
            </li>

            <li class="menu__item menu__item--margin-top">
              <a href="/home">
                <p class="menu__link">Home</p>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </main>
  </body>
</html>
