<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./../includes/head.ejs'); %>

    <link rel="stylesheet" href="/css/menu.css" />
  </head>

  <body>
    <main class="main">
      <div class="main__container">
        <div class="menu">
          <%- include('./../includes/title.ejs', { backLink: '/home' }); %>

          <%-
            include('./../includes/menu.ejs', { items: [
              {
                link: '/records/add',
                name: 'Add Record'
              },
              {
                link: '/records/list',
                name: 'List Records'
              },
              {
                link: '/records/filter',
                name: 'Filter Records'
              },
              {
                link: '/records/edit',
                name: 'Edit Record'
              },
              {
                link: '/records/delete',
                name: 'Delete Record'
              },
              {
                link: '/home',
                name: 'Home',
                marginTop: true
              }
            ]});
          %>
        </div>
      </div>
    </main>
  </body>
</html>
