<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Kharcha | List Records</title>

    <link rel="stylesheet" href="/css/styles.css" />
    <link rel="stylesheet" href="/css/list.css" />
  </head>

  <body>
    <main class="main">
      <div class="main__container">
        <div class="list">
          <div class="title">
            <a href="/records" class="title__back"><</a>

            <h1 class="title__heading">List Records</h1>
          </div>

          <div class="list__window">
            <div class="list__block">
              <div class="list__row">
                <div class="list__label">Date</div>
                <div class="list__value">2020-11-10</div>

                <div class="list__label list__label--no-grow">ID</div>
                <div class="list__value list__value--no-grow">1</div>
              </div>
              <div class="list__row">
                <div class="list__label">Amount</div>
                <div class="list__value">Rs. 100</div>

                <div class="list__label list__label--no-grow">Type</div>
                <div class="list__value list__value--no-grow">Debit</div>
              </div>
              <div class="list__row">
                <div class="list__label">Tags</div>
                <div class="list__value">
                  Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                  Eaque, illo?
                </div>
              </div>
              <div class="list__row">
                <div class="list__label">Description</div>
                <div class="list__value">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit.
                  Harum, aliquid eum explicabo ut aliquam animi officiis dicta
                  blanditiis praesentium in temporibus! Quis, dolores
                  reiciendis. Facilis.
                </div>
              </div>
            </div>

            <div class="list__block">
              <div class="list__row">
                <div class="list__label">Date</div>
                <div class="list__value">2020-11-10</div>

                <div class="list__label list__label--no-grow">ID</div>
                <div class="list__value list__value--no-grow">1</div>
              </div>
              <div class="list__row">
                <div class="list__label">Amount</div>
                <div class="list__value">Rs. 100</div>

                <div class="list__label list__label--no-grow">Type</div>
                <div class="list__value list__value--no-grow">Debit</div>
              </div>
              <div class="list__row">
                <div class="list__label">Tags</div>
                <div class="list__value">
                  Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                  Eaque, illo?
                </div>
              </div>
              <div class="list__row">
                <div class="list__label">Description</div>
                <div class="list__value">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit.
                  Harum, aliquid eum explicabo ut aliquam animi officiis dicta
                  blanditiis praesentium in temporibus! Quis, dolores
                  reiciendis. Facilis.
                </div>
              </div>
            </div>
          </div>

          <div class="button__button-container">
            <a href="/records" class="button__button-link">
              <div class="button__button">Back</div>
            </a>
          </div>
        </div>
      </div>
    </main>
  </body>
</html>
