<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./includes/head.ejs'); %>

    <link rel="stylesheet" href="/css/menu.css" />
  </head>

  <body>
    <main class="main">
      <div class="main__container">
        <div class="menu">
          <div class="title">
            <h1 class="title__heading">Home</h1>
          </div>

          <ul class="menu__list">
            <li class="menu__item">
              <a href="/records">
                <p class="menu__link">Records</p>
              </a>
            </li>
            <li class="menu__item">
              <a href="/tags">
                <p class="menu__link">Tags</p>
              </a>
            </li>
            <!-- <li class="menu__item">
              <a href="#">
                <p class="menu__link">Settings</p>
              </a>
            </li> -->

            <!-- <li class="menu__item menu__item--margin-top">
              <a href="#">
                <p class="menu__link">Logout</p>
              </a>
            </li> -->
          </ul>
        </div>
      </div>
    </main>
  </body>
</html>
