<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Kharcha | Home</title>

    <link rel="stylesheet" href="style.css" />
  </head>

  <body>
    <main class="main">
      <div class="container">
        <a href="/records" class="container__link">Records</a>
        <a href="/tags" class="container__link">Tags</a>
        <a href="/settings" class="container__link">Settings</a>
        <a href="#" class="container__link container__link--margin-top">
          Logout
        </a>
      </div>
    </main>
  </body>
</html>
