<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Kharcha | Home</title>

    <link rel="stylesheet" href="css/styles.css" />
    <link rel="stylesheet" href="css/menu.css" />
  </head>

  <body>
    <main class="main">
      <div class="main__container">
        <div class="menu">
          <h1 class="menu__title">Home</h1>

          <ul class="menu__list">
            <li class="menu__item">
              <a href="/records">Records</a>
            </li>
            <li class="menu__item">
              <a href="/tags">Tags</a>
            </li>
            <!-- <li class="menu__item">
              <a href="/settings">Settings</a>
            </li> -->

            <!-- <li class="menu__item menu__item--margin-top">
              <a href="#"> Logout </a>
            </li> -->
          </ul>
        </div>
      </div>
    </main>
  </body>
</html>
