<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Kharcha | Records</title>

    <link rel="stylesheet" href="style.css" />
  </head>

  <body>
    <main class="main">
      <div class="container">
        <a href="/records/add" class="container__link">Add Record</a>
        <a href="/records/list" class="container__link">List Records</a>
        <a href="/records/filter" class="container__link">Filter Records</a>
        <a href="/records/delete" class="container__link">Delete Record</a>
        <a href="/home" class="container__link container__link--margin-top">
          Home
        </a>
      </div>
    </main>
  </body>
</html>
