<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Kharcha | Tags</title>

    <link rel="stylesheet" href="style.css" />
  </head>

  <body>
    <main class="main">
      <div class="container">
        <ul class="container__list">
          <li class="container__item">
            <a href="/tags/add">Add Tag</a>
          </li>
          <li class="container__item">
            <a href="/tags/list">List Tags</a>
          </li>
          <li class="container__item">
            <a href="/tags/filter">Filter Tags</a>
          </li>
          <li class="container__item">
            <a href="/tags/delete">Delete Tag</a>
          </li>

          <li class="container__item container__item--margin-top">
            <a href="/home">Home </a>
          </li>
        </ul>
      </div>
    </main>
  </body>
</html>
