<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Kharcha | Tags</title>

    <link rel="stylesheet" href="style.css" />
  </head>

  <body>
    <main class="main">
      <div class="container">
        <a href="/tags/add" class="container__link">Add Tag</a>
        <a href="/tags/list" class="container__link">List Tag</a>
        <a href="/tags/filter" class="container__link">Search Tag</a>
        <a href="/tags/delete" class="container__link">Delete Tag</a>
        <a href="/home" class="container__link container__link--margin-top">
          Home
        </a>
      </div>
    </main>
  </body>
</html>
