.form {
  width: 750px;

  padding: 10px 20px;

  background-color: white;
}

.form--small {
  width: 500px;
}

.form__list {
  list-style: none;

  margin: 0;
  padding: 0;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
}

.form__item {
  min-height: 30px;

  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;

  margin: 0 0 10px 0;
  padding: 0;
}

.form__item * {
  font-size: 20px;
  color: #00695c;
}

.form__item:last-child {
  margin-bottom: 0px;
}

.form__label {
  display: inline;

  min-width: 150px;
  max-width: 150px;

  margin-right: 10px;
}

.form__required {
  color: red;
}

.form__input {
  flex-grow: 1;

  width: 100%;

  padding: 5px 10px;

  border-radius: 3px;
  border: 1px solid rgb(118, 118, 118);
}

.form__multi-input-text {
  margin: 0 10px;
}

.form__amount {
  margin-right: 10px;
}

.form__radio-container {
  flex-grow: 1;

  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.form__radio {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;

  margin-right: 10px;
}

.form__radio-input {
  margin-right: 5px;

  cursor: pointer;
}

.form__select-container {
  min-width: 150px;
  min-height: 100%;

  margin-right: 10px;
}

.form__select {
  width: 100%;

  background-color: transparent;

  padding: 4px 10px;

  outline: none;
  border-radius: 3px;
  border: 1px solid rgb(118, 118, 118);
}

.form__multi-row-input {
  flex-grow: 1;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
}

.form__multi-row-input-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;

  margin-bottom: 5px;
}

.form__multi-row-input-container:last-child {
  margin-bottom: 0px;
}

.form__textarea {
  flex-grow: 1;
  height: 85px;
  resize: none;
  padding: 5px 10px;

  border-radius: 3px;
  border: 1px solid rgb(118, 118, 118);
}
