<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./../includes/head.ejs'); %>

    <link rel="stylesheet" href="/css/forms.css" />
  </head>

  <body>
    <main class="main">
      <div class="main__container">
        <form
          action="/tags/delete"
          class="form form--small"
          method="POST"
          autocomplete="off"
        >
          <div class="title">
            <a href="/tags" class="title__back"><</a>

            <h1 class="title__heading"><%= title %></h1>
          </div>

          <%- include('./../includes/tagsForm.ejs'); %>
          
          <%- include('./../includes/buttonRow.ejs', {cancelLink: '/tags', disabled: false}); %>
        </form>
      </div>
    </main>
  </body>
</html>
