<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Kharcha | Delete Tag</title>

    <link rel="stylesheet" href="/css/styles.css" />
    <link rel="stylesheet" href="/css/forms.css" />
  </head>

  <body>
    <main class="main">
      <div class="main__container">
        <form action="/tags/delete" class="form form--small" method="POST">
          <div class="title">
            <a href="/tags" class="title__back"><</a>

            <h1 class="title__heading">Delete Tag</h1>
          </div>

          <ul class="form__list">
            <li class="form__item">
              <label for="tag" class="form__label">
                <span>Tag <span class="form__required">*</span></span>
              </label>
              <input
                type="text"
                class="form__input"
                name="tag"
                required
                autocomplete="off"
              />
            </li>
          </ul>

          <div class="button__button-container">
            <a href="/tags" class="button__button-link">
              <div class="button__button button__button--small">Cancel</div>
            </a>
            <button type="submit" class="button__button button__button--small">
              Delete Tag
            </button>
          </div>
        </form>
      </div>
    </main>
  </body>
</html>
