<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./../includes/head.ejs'); %>

    <link rel="stylesheet" href="/css/menu.css" />
  </head>

  <body>
    <main class="main">
      <div class="menu__container">
        <div class="menu">
          <%- include('./../includes/title.ejs', { backLink: '/home' }); %>

          <%-
            include('./../includes/menu.ejs', { items: [
              {
                link: '/tags/add',
                name: 'Add Tags'
              },
              {
                link: '/tags/list',
                name: 'List Tags'
              },
              {
                link: '/tags/search',
                name: 'Search Tags'
              },
              {
                link: '/tags/edit',
                name: 'Edit Tag'
              },
              {
                link: '/tags/delete',
                name: 'Delete Tags'
              },
              {
                link: '/home',
                name: 'Home',
                marginTop: true
              }
            ]});
          %>
        </div>
      </div>
    </main>
  </body>
</html>
