<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./../includes/head.ejs'); %>

    <link rel="stylesheet" href="/css/list.css" />
  </head>

  <body>
    <main class="main">
      <div class="main__container">
        <div class="list list--small">
          <%- include('./../includes/title.ejs', {backLink: '/tags'}); %>

          <div class="list__window list__window--small">
            <% for (tag of tags) { %>
              <div class="list__block"><%= tag %></div>
            <% } %>
          </div>

          <div class="button__button-container">
            <a href="/tags" class="button__button-link">
              <div class="button__button button__button--small">Back</div>
            </a>
          </div>
        </div>
      </div>
    </main>
  </body>
</html>
