<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Kharcha | List Tags</title>

    <link rel="stylesheet" href="/css/styles.css" />
    <link rel="stylesheet" href="/css/list.css" />
  </head>

  <body>
    <main class="main">
      <div class="main__container">
        <div class="list list--small">
          <div class="title">
            <a href="/tags" class="title__back"><</a>

            <h1 class="title__heading">List Tags</h1>
          </div>

          <div class="list__window list__window--small">
            <div class="list__block">Tag</div>
            <div class="list__block">Tag</div>
            <div class="list__block">Tag</div>
            <div class="list__block">Tag</div>
            <div class="list__block">Tag</div>
            <div class="list__block">Tag</div>
            <div class="list__block">Tag</div>
            <div class="list__block">Tag</div>
            <div class="list__block">Tag</div>
            <div class="list__block">Tag</div>
            <div class="list__block">Tag</div>
            <div class="list__block">Tag</div>
            <div class="list__block">Tag</div>
          </div>

          <div class="button__button-container">
            <a href="/tags" class="button__button-link">
              <div class="button__button button__button--small">Back</div>
            </a>
          </div>
        </div>
      </div>
    </main>
  </body>
</html>
